.container {
    text-align: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.gridItem {
    text-align: center;
}

.gridItem img {
    width: 100%;
    max-width: 200px; /* Sesuaikan dengan ukuran yang diinginkan */
}

.gridItem p {
    margin-top: 10px;
    font-size: 18px;
}
